<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="ProcessorDi.Models.ProcessorDiConfigurator, ProcessorDi" />
    </services>

    <pipelines>
      <httpRequestBegin>
        <processor type="ProcessorDi.Models.SingletonProcessor, ProcessorDi" resolve="true" reusable="true"
                   patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />
        <processor type="ProcessorDi.Models.TransientProcessor, ProcessorDi" resolve="true" reusable="false"
                   patch:after="processor[@type='ProcessorDi.Models.SingletonProcessor, ProcessorDi']" />
      </httpRequestBegin>

      <httpRequestEnd>
        <processor type="ProcessorDi.Models.DisposeSingletonServices, ProcessorDi"
                   patch:after="processor[last()]" />
      </httpRequestEnd>
    </pipelines>
  </sitecore>
</configuration>
